/.build/
/_build/
/Build
/Build.bat
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*

/Number-Phone-JP-AreaCode-*

author/master_data/area-code-jp.tsv.raw
